extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3
    .row
      .col-12
        +box-head("Thông tin tài khoản")

        if (user.avatar)
          img(src=user.avatar width="150px" class="mb-3")

        if (user.fullName)
          p Họ tên: <b>#{user.fullName}</b>

        if (user.email)
          p Email: <b>#{user.email}</b>

        if (user.phone)
          p Số điện thoại: <b>#{user.phone}</b>
        
        if (user.address)
          p Địa chỉ: <b>#{user.address}</b>

        p 
          span Trạng thái: 
          span
            <b>#{user.status === "active" ? "Hoạt động": "Dừng hoạt động"}</b>

        .mt-3
          a.btn.btn-primary.btn-sm(href="/user/profile/edit") Sửa thông tin cá nhân
          a.btn.btn-secondary.btn-sm(href="/user/profile/changePassword" class="ml-2") Đổi mật khẩu