extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  //- .container.my-3
  //-   .row
  //-     .col-12
  //-       +box-head("Kết quả tìm kiếm: " + keyword)

  //-   .row
  //-     each item in products
  //-       .col-4.mb-3
  //-         .product-item
  //-           .inner-image
  //-             img(src=item.thumbnail, alt=item.title)
  //-           .inner-content
  //-             h3.inner-title
  //-               a(href=`/products/detail/${item.slug}`) #{item.title}
  //-             .inner-price-new #{item.priceNew}$
  //-             .inner-price-old #{item.price}$
  //-             .inner-discount -#{item.discountPercentage}%

  // Breadcrumb Start
  .container-fluid
    .row.px-xl-5
      .col-12
        nav.breadcrumb.bg-light.mb-30
          //- a.breadcrumb-item.text-dark(href='#') Trang chủ
          //- a.breadcrumb-item.text-dark(href='#') Sản phẩm
          //- span.breadcrumb-item.active #{keyword}
          +box-head("Kết quả tìm kiếm: " + keyword)
  // Breadcrumb End

  // Shop Start
  .container-fluid
    .row.px-xl-5
      // Shop Sidebar Start
      .col-lg-3.col-md-4
        // Price Start
        h5.section-title.position-relative.text-uppercase.mb-3
          span.bg-secondary.pr-3 Filter by price
        .bg-light.p-4.mb-30
          form
            .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between.mb-3
              input#price-all.custom-control-input(type='checkbox' checked='')
              label.custom-control-label(for='price-all') All Price
              span.badge.border.font-weight-normal 1000
            .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between.mb-3
              input#price-1.custom-control-input(type='checkbox')
              label.custom-control-label(for='price-1') $0 - $100
              span.badge.border.font-weight-normal 150
            .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between.mb-3
              input#price-2.custom-control-input(type='checkbox')
              label.custom-control-label(for='price-2') $100 - $200
              span.badge.border.font-weight-normal 295
            .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between.mb-3
              input#price-3.custom-control-input(type='checkbox')
              label.custom-control-label(for='price-3') $200 - $300
              span.badge.border.font-weight-normal 246
            .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between.mb-3
              input#price-4.custom-control-input(type='checkbox')
              label.custom-control-label(for='price-4') $300 - $400
              span.badge.border.font-weight-normal 145
            .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between
              input#price-5.custom-control-input(type='checkbox')
              label.custom-control-label(for='price-5') $400 - $500
              span.badge.border.font-weight-normal 168
        // Price End
        // Color Start
        h5.section-title.position-relative.text-uppercase.mb-3
          span.bg-secondary.pr-3 Filter by color
        .bg-light.p-4.mb-30
          form
            .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between.mb-3
              input#color-all.custom-control-input(type='checkbox' checked='')
              label.custom-control-label(for='price-all') All Color
              span.badge.border.font-weight-normal 1000
            .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between.mb-3
              input#color-1.custom-control-input(type='checkbox')
              label.custom-control-label(for='color-1') Black
              span.badge.border.font-weight-normal 150
            .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between.mb-3
              input#color-2.custom-control-input(type='checkbox')
              label.custom-control-label(for='color-2') White
              span.badge.border.font-weight-normal 295
            .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between.mb-3
              input#color-3.custom-control-input(type='checkbox')
              label.custom-control-label(for='color-3') Red
              span.badge.border.font-weight-normal 246
            .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between.mb-3
              input#color-4.custom-control-input(type='checkbox')
              label.custom-control-label(for='color-4') Blue
              span.badge.border.font-weight-normal 145
            .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between
              input#color-5.custom-control-input(type='checkbox')
              label.custom-control-label(for='color-5') Green
              span.badge.border.font-weight-normal 168
        // Color End
        // Size Start
        h5.section-title.position-relative.text-uppercase.mb-3
          span.bg-secondary.pr-3 Filter by size
        .bg-light.p-4.mb-30
          form
            .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between.mb-3
              input#size-all.custom-control-input(type='checkbox' checked='')
              label.custom-control-label(for='size-all') All Size
              span.badge.border.font-weight-normal 1000
            .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between.mb-3
              input#size-1.custom-control-input(type='checkbox')
              label.custom-control-label(for='size-1') XS
              span.badge.border.font-weight-normal 150
            .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between.mb-3
              input#size-2.custom-control-input(type='checkbox')
              label.custom-control-label(for='size-2') S
              span.badge.border.font-weight-normal 295
            .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between.mb-3
              input#size-3.custom-control-input(type='checkbox')
              label.custom-control-label(for='size-3') M
              span.badge.border.font-weight-normal 246
            .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between.mb-3
              input#size-4.custom-control-input(type='checkbox')
              label.custom-control-label(for='size-4') L
              span.badge.border.font-weight-normal 145
            .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between
              input#size-5.custom-control-input(type='checkbox')
              label.custom-control-label(for='size-5') XL
              span.badge.border.font-weight-normal 168
        // Size End
      // Shop Sidebar End
      // Shop Product Start
      .col-lg-9.col-md-8
        .row.pb-3
          each item in products
            .col-lg-4.col-md-6.col-sm-6.pb-1
              .product-item.bg-light.mb-4
                .product-img.position-relative.overflow-hidden
                  img.img-fluid.w-100(src=item.thumbnail, alt=item.title)
                  .product-action
                    a.btn.btn-outline-dark.btn-square(href='')
                      i.fa.fa-shopping-cart
                    a.btn.btn-outline-dark.btn-square(href='')
                      i.far.fa-heart
                    a.btn.btn-outline-dark.btn-square(href='')
                      i.fa.fa-sync-alt
                    a.btn.btn-outline-dark.btn-square(href='')
                      i.fa.fa-search
                .text-center.py-4
                  a.h6.text-decoration-none.text-truncate(href=`/products/detail/${item.slug}`) #{item.title}
                  .d-flex.align-items-center.justify-content-center.mt-2
                    h5 $123.00
                    h6.text-muted.ml-2
                      del $123.00
                  .d-flex.align-items-center.justify-content-center.mb-1
                    small.fa.fa-star.text-primary.mr-1
                    small.fa.fa-star.text-primary.mr-1
                    small.fa.fa-star.text-primary.mr-1
                    small.fa.fa-star.text-primary.mr-1
                    small.fa.fa-star.text-primary.mr-1
                    small (99)

          .col-12
            nav
              ul.pagination.justify-content-center
                li.page-item.disabled
                  a.page-link(href='#') Previous
                li.page-item.active
                  a.page-link(href='#') 1
                li.page-item
                  a.page-link(href='#') 2
                li.page-item
                  a.page-link(href='#') 3
                li.page-item
                  a.page-link(href='#') Next
      // Shop Product End
  // Shop End
